.helpContainer {
    width: 100%;
    margin: 72px auto 0;
    min-height: calc(100vh - 72px);
    .helpContentWrapper {
        width: 100%;
        position: relative;
        display: flex;
        .helpNavigation {
            position: fixed;
            left: 0;
            top: 72px;
            width: calc((100% - 1440px)/ 2 + 298px);
            height: calc(100vh - 72px);
            min-width: 298px;
            background: #FAFAFC;
            border-right: 1px solid #f5f5f5;
            padding-left: calc((100% - 1440px) / 2);
            user-select: none;
            overflow-y: scroll;
            .helpNavigationInner {
                flex: auto;
                width: 212px;
                display: flex;
                flex-direction: column;
                padding: 20px 0 0 0;
                margin-left: 69px;
                .helpNavHeading {
                    a {
                        display: block;
                        color: #0066ff;
                        font-size: 12px;
                    }
                    span:first-child {
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        vertical-align: -3px;
                        background: url(../images/icons/back.svg) no-repeat;
                    }
                }

                .helpNavBookArea {
                    margin-top: 12px;
                    width: 100%;
                    position: relative;
                    .helpNavBook {
                        width: 100%;
                        display: none;
                        &.isActive {
                            display: block;
                        }
                    }
                    .helpNavBookHead {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        cursor: pointer;
                        position: relative;
                        .helpNavBookName {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;

                            .icon {
                                display: inline-block;
                                width: 24px;
                                height: 24px;
                                border-radius: 4px;
                                box-shadow: 0 1px 4px 0 rgba(0,0,0,0.08);
                                background: url(../images/book-icons/agile.svg) no-repeat;
                            }
                            .name {
                                display: inline-block;
                                font-size: 16px;
                                color: #202D40;
                                margin-left: 8px;
                                font-weight: 500;
                            }
                            &:hover, &.open {
                              .name {
                                color: #0066ff;
                              }
                            }
                        }
                        .selectArrow {
                            width: 16px;
                            height: 16px;
                            background: url(../images/icons/select-arrow.svg) no-repeat;
                        }
                        .helpNavBookListAreaWrap {
                          position: absolute;
                          top: 24px;
                          left: -8px;
                          display: none;
                          z-index: 9;
                          width: 216px;
                          .helpNavBookListArea {
                            margin-top: 9px;
                            padding: 4px 0;
                            background: #FFFFFF;
                            box-shadow: 0 8px 20px 0 rgba(32,45,64,0.10);
                            border-radius: 2px;
                            .helpNavBookList {
                              width: 100%;
                              display: flex;
                              flex-direction: column;
                              .book{
                                  width: 100%;
                                  height: 40px;
                                  display: flex;
                                  justify-content: space-between;
                                  align-items: center;
                                  cursor: pointer;
                                  font-size: 15px;
                                  color: #202D40;
                                  line-height: 24px;
                                  &.isHide {
                                    display: none;
                                  }
                                  .helpNavBookName {
                                      display: flex;
                                      justify-content: flex-start;
                                      align-items: center;

                                      .icon {
                                          display: inline-block;
                                          width: 24px;
                                          height: 24px;
                                          border-radius: 4px;
                                          margin-left: 8px;
                                          box-shadow: 0 1px 4px 0 rgba(0,0,0,0.08);
                                          background: url(../images/book-icons/agile.svg) no-repeat;
                                      }
                                      .name {
                                          display: inline-block;
                                          font-size: 15px;
                                          color: #202D40;
                                          margin-left: 8px;
                                          font-weight: normal;
                                      }
                                  }
                                  .selectIcon {
                                      display: none;
                                      width: 16px;
                                      height: 16px;
                                      background: url(../images/icons/check.svg) no-repeat;
                                      margin-right: 8px;
                                      &.isActive {
                                        display: block;
                                      }
                                  }

                                  &:hover {
                                    background: rgba(0,102,255,0.08);
                                  }
                              }
                            }
                          }
                        }
                        &:hover > .helpNavBookListAreaWrap {
                          display: block;
                        }
                    }

                    .helpNavDivider {
                        margin-top: 12px;
                        margin-bottom: 12px;
                        width: 100%;
                        height: 1px;
                        opacity: 0.1;
                        background: #202D40;
                    }

                    .helpNavBookBody {
                        .helpNavSection {
                            margin-bottom: 10px;
                            .helpNavTitleLink {
                              font-size: 15px;
                              color: #202D40;
                              line-height: 24px;
                              font-weight: 500;
                              &.noLinks {
                                font-weight: 400;
                              }
                              &:hover {
                                color: #0066ff;
                              }
                              &.isActive {
                                color: #0066ff;
                              }
                              &.isBold {
                                font-weight: 500!important;
                              }
                            }
                            .helpNavTitle {
                                width: 100%;
                                height: 24px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                cursor: pointer;
                                &:hover {
                                  .category {
                                    color: #0066ff;
                                  }
                                  .arrow {
                                    background: url(../images/icons/arrow-down-blue.svg) no-repeat;
                                    transform: rotate3d(0, 0, 1, 0deg);
                                  }
                                }
                                .category {
                                    display: block;
                                    font-size: 15px;
                                    color: #202D40;
                                    line-height: 24px;
                                    font-weight: 500;
                                }
                                .arrow {
                                    display: block;
                                    width: 16px;
                                    height: 16px;
                                    background: url(../images/icons/arrow-down.svg) no-repeat;
                                    transform: rotate3d(0, 0, 1, -180deg);
                                }
                            }

                            .helpThirdNav {
                              padding-left: 18px;
                              padding-top: 4px;
                              display: block;
                                .helpNavTitle {

                                  width: 100%;
                                  height: 24px;
                                  display: flex;
                                  justify-content: space-between;
                                  align-items: center;
                                  cursor: pointer;
                                  &:hover {
                                    .category {
                                      color: #0066ff;
                                    }
                                    .arrow {
                                      background: url(../images/icons/arrow-down-blue.svg) no-repeat;
                                      transform: rotate3d(0, 0, 1, 0deg);
                                    }
                                  }
                                  .category {
                                      display: block;
                                      font-size: 14px;
                                      color: #202D40;
                                      line-height: 24px;
                                      font-weight: 400;
                                  }
                                  .arrow {
                                      display: block;
                                      width: 16px;
                                      height: 16px;
                                      background: url(../images/icons/arrow-down.svg) no-repeat;
                                      transform: rotate3d(0, 0, 1, -180deg);
                                  }
                                }
                            }

                            .helpNavLinks {
                                position: relative;
                                display: none;
                                margin-top: 0px;
                                &:before {
                                    content: '';
                                    position: absolute;
                                    top: 8px;
                                    left: 8px;
                                    width: 2px;
                                    height: calc(100% - 16px);
                                    background: rgba(32,45,64,0.05);
                                    border-radius: 2px;
                                }
                                .helpNavLinkItem {
                                    padding: 6px 6px 6px 0;
                                    .helpNavLink {
                                        display: block;
                                        padding-left: 18px;
                                        font-size: 14px;
                                        color: #3E4552;
                                        line-height: 20px;
                                        position: relative;
                                        &:before {
                                            content: '';
                                            position: absolute;
                                            top: 4px;
                                            left: 8px;
                                            width: 2px;
                                            height: calc(100% - 8px);
                                            background: #0066ff;
                                            opacity: 0;
                                        }
                                    }
                                    &:hover {
                                      background: rgba(35,114,250,0.10);
                                      border-radius: 3px;
                                        .helpNavLink {
                                            color: #0066ff;
                                        }
                                    }
                                    &.isActive {
                                        background: rgba(35,114,250,0.10);
                                        border-radius: 3px;
                                        .helpNavLink {
                                            color: #0066ff;
                                            &:before {
                                                opacity: 1;
                                            }
                                        }
                                    }
                                }
                                .helpNavSecondLinks {
                                    &:before {
                                        left: 23px;
                                    }
                                    .helpNavSecondLink {
                                        padding-left: 36px;
                                        &:before {
                                            left: 23px;
                                        }
                                    }
                                }
                            }

                            .helpThirdNav {
                              .helpNavLinks {
                                .helpNavLinkItem {
                                  .helpNavLink {
                                    font-size: 13px;
                                  }
                                }
                              }
                            }   
                                .helpNavTitle {
                                    .arrow {
                                      &.isExpanded {
                                        transform: rotate3d(0, 0, 1, 0deg);
                                      }

                                    }
                                    &:hover {
                                      .arrow {
                                        &.isExpanded {
                                          transform: rotate3d(0, 0, 1, -180deg);
                                        }

                                      }
                                    }
                                }

                                .helpThirdNav {
                                  &.isExpanded  {
                                    display: block;
                                  }
                                }
                                .helpNavLinks {
                                  &.isExpanded  {
                                    display: block;
                                  }
                                }
                                .helpNavSecondTitle {
                                    padding-left: 18px;
                                    margin-top: 3px;
                                    .secondCategory {
                                      font-size: 14px;
                                      color: #3E4552;
                                      font-weight: 500;
                                    }
                                }

                        }
                    }
                }

                

            }
        }

        .helpContent {
            display: flex;
            align-items: flex-start;
            flex: 1 1 auto;
            padding: 36px 0 0;
            margin-left: calc((100% - 1440px) / 2 + 298px);
            .pageRight {
              width: 196px;
              flex: 0 0 auto;
              position: sticky;
              top: 105px;
            }
            .helpTOC {
                width: 196px;
                overflow: hidden;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 2px;
                    height: 100%;
                    background: rgba(32,45,64,0.05);
                    border-radius: 2px;
                }

                &.helpTOCRight {
                    &::before {
                        height: calc(100% - 2px);
                    }
                    a.toc-link {
                      &:hover {
                          color: #1071d3;
                          &::before {
                              opacity: 1;
                          }
                      }
                    }
                }

                &.helpTOCArticle {
                    width: 100%;
                    display: none;
                    position: relative;
                    ol {
                        list-style: none;
                        list-style-type: none;
                        padding-left: 0;
                        margin-bottom: 0;
                        li {
                            padding-left: 0;
                            font-size: 12px;
                            line-height: 18px;
                            a.toc-link {
                                color: #717880;
                                &:hover {
                                    color: #1071d3;
                                    &::before {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                    .toc {
                        overflow: hidden;
                    }
                }

            }
            .helpTOCTitle {
                height: 26px;
                padding-bottom: 10px;
                box-sizing: border-box;
                padding-left: 12px;
                font-size: 12px;
                color: #76808E;
                line-height: 16px;
            }
            .toc-link {
                position: relative;
                display: inline-block;
                font-size: 12px;
                line-height: 18px;
                color: #76808E;
                transition: color ease-out .3s;
                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 2px;
                    height: calc(100% - 2px);
                    transform: translateY(-50%);
                    background-color: #0066ff;
                    opacity: 0;
                    transition: opacity ease-out .3s;
                }
                &.isCurrent {
                    color: #0066ff;
                    &::before {
                        opacity: 1;
                    }
                }
            }

            .toc-level-1 > .toc-link {
                display: none;
            }
            .toc-level-2 > .toc-link {
              display: none;
          }
            .toc-level-3 > .toc-link {
                padding-left: 12px;
            }
            .toc-level-4 > .toc-link {
                padding-left: 30px;
            }

            .helpArticle {
                margin: 0 75px;
                max-width: 750px;
                padding-bottom: 40px;
                color: #202d40;
                font-size: 15px;
                flex-grow: 1;
                .table-wrap {
                  position: relative;
                  .expand-btn {
                    position: absolute;
                    right: 0;
                    top: -30px;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    background: #fff;
                    border-radius: 5px;
                    transition: background 0.1s ease-in-out;
                    &:hover {
                      background: #eee;
                    }
                  }
                  .expand-btn-hide {
                    display: none;
                  }
                }
            }
            .helpArticleLine {
                width: 100%;
                height: 1px;
                background: rgba(32,45,64,0.05);
                margin-top: 32px;
                margin-bottom: 32px;
            }
        }

        .post-nav-area {
            display: flex;
            align-items: flex-start;
            flex: 1 1 auto;
            .post-nav {
              padding-top: 40px;
                padding-bottom: 40px;
                color: #202d40;
                font-size: 15px;
                flex-grow: 1;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                a {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 49%;
                    max-width: 368px;
                    height: 64px;
                    color: #202d40;
                    background: #FFFFFF;
                    box-shadow: 0 4px 12px 0 rgba(32,45,64,0.08), 0 1px 3px 0 rgba(32,45,64,0.05);
                    border-radius: 3px;
                    &.isOnly {
                        width: 100%;
                        max-width: 100%;
                    }
                    .arrowLeft {
                        display: block;
                        width: 16px;
                        height: 16px;
                        background: url(../images/icons/prev.svg) no-repeat;
                        margin-left: 24px;
                    }
                    .arrowRight {
                        display: block;
                        width: 16px;
                        height: 16px;
                        background: url(../images/icons/next.svg) no-repeat;
                        margin-right: 24px;
                    }
                    .postPrev {
                        display: flex;
                        flex-direction: column;
                        text-align: right;
                        margin-right: 15px;
                        span {
                            font-size: 12px;
                            color: #76808E;
                            text-align: right;
                            line-height: 20px;
                            &.title {
                                font-size: 14px;
                                color: #3E4552;
                            }
                        }
                    }
                    .postNext {
                        display: flex;
                        flex-direction: column;
                        text-align: left;
                        margin-left: 15px;
                        span {
                            font-size: 12px;
                            color: #76808E;
                            text-align: left;
                            line-height: 20px;
                            &.title {
                                font-size: 14px;
                                color: #3E4552;
                            }
                        }
                    }

                    &:hover {
                        box-shadow: 0 8px 24px 0 rgba(32,45,64,0.14), 0 1px 3px 0 rgba(32,45,64,0.05);
                        .postPrev {
                            span {
                                &.title {
                                    color: #0066ff;
                                }
                            }
                        }
                        .postNext {
                            span {
                                &.title {
                                    color: #0066ff;
                                }
                            }
                        }
                    }
                }

            }
        }
        .pageFeedbackArea {
          max-height: 52px;
            .pageFeedback {
                max-width: 750px;
                padding-top: 20px;
                font-size: 14px;
                border-top: 2px solid rgba(32,45,64,0.05);
                display: flex;
                align-items: center;
                justify-content: space-between;
                .fd-right {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    .fd-btn {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        span {
                            color: #76808E;
                        }
                        .icon {
                            min-width: 36px;
                            height: 36px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: 1px solid rgba(118,128,142,0.20);
                            border-radius: 50%;
                            margin-right: 8px;
                            position: relative;
                            cursor: pointer;
                            transition: all ease 0.2s;
                            .like {
                                width: 24px;
                                height: 24px;
                                display: block;
                                background: url(../images/icons/liked.svg) no-repeat;
                            }
                            .dislike {
                                width: 24px;
                                height: 24px;
                                display: block;
                                background: url(../images/icons/disliked.svg) no-repeat;
                            }
                            &:hover {
                                border: 1px solid #ebf3ff;
                                background: rgba(0,102,255,0.08);
                                .like {
                                    background: url(../images/icons/liked-blue.svg) no-repeat;
                                }
                                .dislike {
                                  background: url(../images/icons/disliked-blue.svg) no-repeat;
                                }
                            }
                            &.isActive {
                                border: 1px solid #ebf3ff;
                                background: rgba(0,102,255,0.08);
                                .like {
                                    background: url(../images/icons/liked-blue.svg) no-repeat;
                                }
                                .dislike {
                                    background: url(../images/icons/disliked-blue.svg) no-repeat;
                                }

                                &:hover {
                                    .tooltips {
                                        display: block;
                                        animation-name: fade-top-tooltips;
                                        animation-duration: 0.3s;
                                        animation-timing-function: ease;
                                        animation-fill-mode: forwards;
                                    }
                                }
                            }
                            &.disable {
                                opacity: 0.3;
                                cursor: default;
                                &:hover {
                                    border: 1px solid rgba(118,128,142,0.20);
                                    background: #fff;
                                    .like {
                                        background: url(../images/icons/liked.svg) no-repeat;
                                    }
                                    .dislike {
                                        background: url(../images/icons/disliked.svg) no-repeat;
                                    }
                                }
                            }

                            .tooltips {
                                position: absolute;
                                top: -50px;
                                left: -26px;
                                display: none;
                                width: 86px;
                                height: 36px;
                                background: #202D40;
                                border-radius: 2px;
                                font-size: 14px;
                                color: #FFFFFF;
                                text-align: center;
                                line-height: 36px;
                                &::after {
                                    display: inline-block;
                                    content: '';
                                    width: 0;
                                    height: 0;
                                    border-style: solid;
                                    border-color: transparent;
                                    position: absolute;
                                    left: 37px;
                                    top: 36px;
                                    border-width: 5px 5px 0px 5px;
                                    border-top-color: rgba(0,0,0,0.75);
                                }
                            }
                        }
                        .isActive {
                            color: #202d40;
                        }
                        .disable {
                            opacity: 0.3;
                        }
                        &.bad {
                            margin-left: 24px;
                        }
                    }
                }
            }
        }
    }
}
.bad-modal-show {
  display: block;
}
.bad-modal-hidden {
  display: none;
}
.bad-modal {
  width: 408px;
  height: 306px;
  padding: 24px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(218, 223, 230);
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
  z-index: 99;
  top: -355px;
  left: 56%;
  display: none;

  .title {
    color: rgb(32, 45, 64);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .padding-height {
    padding-top: 11px;
  }
  .btn-box {
    margin-top: 18px;
    button {
      outline: none;
      border: none;
    }
    .btn {
      width: 60px;
      height: 30px;
      background-color: #000;
      color: #fff;
      margin-right: 20px;
      cursor: pointer;
    }
    .cancel-btn {
      background-color: transparent;
      cursor: pointer;
    }
  }
  .txt-area {
    width: 360px;
    height: 56px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(216, 221, 228);
    border-radius: 4px;
    resize: none;
    padding: 8px;
    outline: none;
  }
  .radio-list {
    display: flex;
    flex-wrap: wrap;
    .item {
      padding-right: 24px;
      &:last-child {
        padding-right: 0;
      }
    }
    .radio {
      vertical-align:middle;
      margin-top:-2px;
      margin-bottom:1px;
    }
    .radio-label {
      padding-left: 8px;
      color: rgb(62, 69, 82);
      font-size: 14px;
    }
  }
}
.helpMenuSwitch {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  position: fixed;
  left: 16px;
  bottom: 16px;
  z-index: 90;
  background: #0066FF;
  box-shadow: 0 6px 24px 0 rgba(0,102,255,0.15), 0 3px 8px 0 rgba(12,27,55,0.10);
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  .menuIcon {
    width: 16px;
    height: 16px;
    background: url(../images/icons/menu-list.svg) no-repeat;
    background-size: 100%;
  }
}
.helpMask {
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  background: #07213b;
  z-index: 90;
  transition: opacity .3s ease,right .3s ease,bottom .3s ease;
  &.isVisible {
    right: 0;
    bottom: 0;
    opacity: 0.2;
  }
}

@keyframes fade-top-tooltips {
    0% {
        opacity: 0;
        transform: translate(0%, 40%);
    }

    100% {
        opacity: 1;
        transform: translate(0%, 0%);
    }
}

@media only screen and(max-width: 1440px) {
  .helpContainer {
    width: 100%;
    margin: 72px auto 0;
    .helpContentWrapper {
        width: 100%;
        position: relative;
        .helpNavigation {
            background: #FAFAFC;
            border-right: 1px solid #f5f5f5;
            padding-left: 0px;
            .helpNavigationInner {
                flex: auto;
                width: 212px;
                display: flex;
                flex-direction: column;
                padding: 20px 0 0 0;
                margin-right: 16px;
            }
        }

        .helpContent {
            display: flex;
            align-items: flex-start;
            flex: 1 1 auto;
            padding: 36px 0 0;
            .pageRight {
              flex: 0 0 auto;
            }
            .helpTOC {
                width: 196px;
                overflow: hidden;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 2px;
                    height: 100%;
                    background: rgba(32,45,64,0.05);
                    border-radius: 2px;
                }

                &.helpTOCRight {
                    width: 100%;
                    &::before {
                        height: calc(100% - 2px)
                    }
                }

            }
            .helpTOCTitle {
                height: 26px;
                padding-bottom: 10px;
                box-sizing: border-box;
                padding-left: 12px;
                font-size: 12px;
                color: #76808E;
                line-height: 16px;
            }
            .toc-link {
                position: relative;
                display: inline-block;
                font-size: 12px;
                line-height: 18px;
                color: #76808E;
                transition: color ease-out .3s;
                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 2px;
                    height: calc(100% - 2px);
                    transform: translateY(-50%);
                    background-color: #0066ff;
                    opacity: 0;
                    transition: opacity ease-out .3s;
                }
                &.isCurrent {
                    color: #0066ff;
                    &::before {
                        opacity: 1;
                    }
                }
            }

            .toc-level-1 > .toc-link {
                display: none;
            }
            .toc-level-2 > .toc-link {
              display: none;
            }
            .toc-level-3 > .toc-link {
                padding-left: 12px;
            }
            .toc-level-4 > .toc-link {
                padding-left: 30px;
            }

            .helpArticle {
                margin: 0 75px;
                max-width: 750px;
                padding-bottom: 40px;
                color: #202d40;
                font-size: 15px;
                flex-grow: 1;
            }
            .helpArticleLine {
                width: 100%;
                height: 1px;
                background: rgba(32,45,64,0.05);
                margin-top: 32px;
                margin-bottom: 32px;
            }
        }
    }
  }
}

@media only screen and(max-width: 1330px) {
  .helpContainer {
    .helpContentWrapper {
        .helpNavigation {
            .helpNavigationInner {
              margin-left: 45px;
            }
        }
        .helpContent {
          width: calc(100% - 246px);
          margin-left: 298px;
          .helpArticle {
            max-width: 100%;
            padding-right: 256px;
            margin: 0;
            padding-left: 60px;
          }
          .pageRight {
            right: 0;
          }
        }
    }
  }
  .bad-modal {
    left: 41%;
  }
}

@media only screen and(max-width: 1200px) {
  .helpContainer {
    .helpContentWrapper {
        .helpContent {
          .helpArticle {
            padding-right: 260px;
            padding-left: 35px;
          }
          .pageRight {
            right: 2px;
          }
        }
    }
  }
}

@media only screen and(max-width: 1160px) {
  .helpContainer {
    .helpContentWrapper {
        .helpContent {
            .helpArticle {
              width: 100%;
              padding-right: 35px;
              margin: 0;
              padding-left: 35px;
            }
            .pageRight {
              display: none;
            }
            .helpTOC {
                &.helpTOCRight {
                    display: none;
                }

                &.helpTOCArticle {
                    display: block;
                }

            }
        }
    }
  }
}

@media only screen and(max-width: 768px) {
  .helpContainer {
    .helpContentWrapper {
      .helpNavigation {
          position: fixed;
          top: 0px;
          left: -100%;
          bottom: 0;
          z-index: 100;
          background: #fff;
          box-shadow: 0 0 40px 0 rgba(0,0,0,0.1);
          box-sizing: border-box;
          transition: left .3s ease;
          overflow: auto;
          height: 100%;
          min-width: 250px;
          &.isVisible {
            left: 0;
          }
          .helpNavigationInner {
            margin-left: 20px;
          }
      }
      .helpContent {
        margin-left: 0;
        position: relative;
        z-index: 2;
      }
      .pageFeedbackArea {
        max-height: 340px;
      }
    }
  }
  .helpMenuSwitch {
    display: flex;
  }
  .bad-modal {
    width: 100%;
    height: 340px;
    border: none;
    box-shadow: none;
    left: 0;
    top: -56px;
    padding: 34px 0 0 0;
    .padding-height {
      padding-top: 21px;
    }
    .btn-box {
      margin-top: 15px;
    }
    .txt-area {
      width: 100%;
    }
    .radio-list {
      .item {
        padding-right: 32px;
      }
    }
  }
}
@media only screen and(max-width: 500px) {
  .helpContainer {
    .helpContentWrapper {
      .helpContent {
        .helpArticle {
          margin: 0;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
      .post-nav-area {
            .post-nav {
                flex-direction: column;
                a {
                    width: 100%;
                    max-width: 100%;
                    margin-bottom: 16px;
                    &:last-child{
                      margin-bottom: 0;
                    }
                }

            }
      }
    }
  }
}

.cuk-alert {
  width: 300px;
  padding: 12px;
  border-radius: 2px;
  color: #46556d;
  font-size: 14px;
  display: none;
}

.cuk-alert-success {
  background: #f6ffed;
  border: 1px solid #b7eb8f;
}
.cuk-alert-success .cuk-alert-close, .cuk-alert-success>.cuk-alert-icon {
  color: #53bf1d;
}
.cuk-alert-danger {
  background: #fff1f0;
  border: 1px solid #ffa39e;
}
.cuk-alert-danger .cuk-alert-close, .cuk-alert-danger>.cuk-alert-icon {
  color: #f23524;
}

.cuk-alert-sticky {
  display: block;
  position: fixed;
  top: 7px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  z-index: 2000;
}

.markdown-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #585858;
  font-size: 16px;
  word-wrap: break-word;
  line-height: 2;
  letter-spacing: 0.2px;
  position: relative;
}
.markdown-body .pl-c {
  color: #969896;
}
.markdown-body .pl-c1,
.markdown-body .pl-s .pl-v {
  color: #0086b3;
}
.markdown-body .pl-e,
.markdown-body .pl-en {
  color: #795da3;
}
.markdown-body .pl-smi,
.markdown-body .pl-s .pl-s1 {
  color: #333;
}
.markdown-body .pl-ent {
  color: #63a35c;
}
.markdown-body .pl-k {
  color: #a71d5d;
}
.markdown-body .pl-s,
.markdown-body .pl-pds,
.markdown-body .pl-s .pl-pse .pl-s1,
.markdown-body .pl-sr,
.markdown-body .pl-sr .pl-cce,
.markdown-body .pl-sr .pl-sre,
.markdown-body .pl-sr .pl-sra {
  color: #183691;
}
.markdown-body .pl-v {
  color: #ed6a43;
}
.markdown-body .pl-id {
  color: #b52a1d;
}
.markdown-body .pl-ii {
  color: #f8f8f8;
  background-color: #b52a1d;
}
.markdown-body .pl-sr .pl-cce {
  font-weight: bold;
  color: #63a35c;
}
.markdown-body .pl-ml {
  color: #693a17;
}
.markdown-body .pl-mh,
.markdown-body .pl-mh .pl-en,
.markdown-body .pl-ms {
  font-weight: bold;
  color: #1d3e81;
}
.markdown-body .pl-mq {
  color: #008080;
}
.markdown-body .pl-mi {
  font-style: italic;
  color: #333;
}
.markdown-body .pl-mb {
  font-weight: bold;
  color: #333;
}
.markdown-body .pl-md {
  color: #bd2c00;
  background-color: #ffecec;
}
.markdown-body .pl-mi1 {
  color: #55a532;
  background-color: #eaffea;
}
.markdown-body .pl-mdr {
  font-weight: bold;
  color: #795da3;
}
.markdown-body .pl-mo {
  color: #1d3e81;
}
.markdown-body .octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}
.markdown-body a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.markdown-body a:active,
.markdown-body a:hover {
  outline-width: 0;
}
.markdown-body strong {
  font-weight: inherit;
  color: #000;
}
.markdown-body strong {
  font-weight: bolder;
}
.markdown-body img {
  border-style: none;
}
.markdown-body svg:not(:root) {
  overflow: hidden;
}
.markdown-body code,
.markdown-body kbd,
.markdown-body pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
.markdown-body hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
.markdown-body input {
  font: inherit;
  margin: 0;
}
.markdown-body input {
  overflow: visible;
}
.markdown-body button:-moz-focusring,
.markdown-body [type="button"]:-moz-focusring,
.markdown-body [type="reset"]:-moz-focusring,
.markdown-body [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
.markdown-body [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
.markdown-body * {
  box-sizing: border-box;
}
.markdown-body input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.markdown-body a {
  color: #0066ff;
  text-decoration: none;
}
.markdown-body a:hover,
.markdown-body a:active {
  color: #3385ff;
}
.markdown-body strong {
  font-weight: 600;
}
.markdown-body hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
}
.markdown-body hr::before {
  display: table;
  content: "";
}
.markdown-body hr::after {
  display: table;
  clear: both;
  content: "";
}
.markdown-body table {
  border-spacing: 0;
  border-collapse: collapse;
}
.markdown-body td,
.markdown-body th {
  padding: 0;
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 0;
  margin-bottom: 0;
}
.markdown-body h1 {
  font-size: 32px;
  font-weight: 600;
  color: #000;
  border: 0;
}
.markdown-body h2 {
  font-size: 24px;
  font-weight: 600;
  color: #000;
}
.markdown-body h3 {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}
.markdown-body h4 {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
.markdown-body h5 {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}
.markdown-body h6 {
  font-size: 12px;
  font-weight: 600;
  color: #000;
}
.markdown-body p {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 26px;
}
.markdown-body p a,
.markdown-body li a {
  display: inline-block;
}
.markdown-body blockquote {
  margin: 0;
}
.markdown-body ul,
.markdown-body ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.markdown-body ul li {
  list-style: disc;
}
.markdown-body ul li ul li {
  list-style: disc;
}
.markdown-body ol li ul li {
  list-style: disc;
}
.markdown-body ol li{
  list-style: decimal;
}

.markdown-body ol ol,
.markdown-body ul ol {
  list-style-type: lower-roman;
}
.markdown-body ul ul ol,
.markdown-body ul ol ol,
.markdown-body ol ul ol,
.markdown-body ol ol ol {
  list-style-type: lower-alpha;
}
.markdown-body dd {
  margin-left: 0;
}
.markdown-body code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}
.markdown-body pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.markdown-body .octicon {
  vertical-align: text-bottom;
}
.markdown-body input {
  -webkit-font-feature-settings: "liga" 0;
  font-feature-settings: "liga" 0;
}
.markdown-body .form-select::-ms-expand {
  opacity: 0;
}
.markdown-body > *:first-child {
  margin-top: 0 !important;
}
.markdown-body > *:last-child {
  margin-bottom: 0 !important;
}
.markdown-body a:not([href]) {
  color: inherit;
  text-decoration: none;
}
.markdown-body .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}
.markdown-body .anchor:focus {
  outline: none;
}
.markdown-body p,
.markdown-body blockquote,
.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body table,
.markdown-body pre {
  margin-top: 0;
  margin-bottom: 16px;
}
.markdown-body hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e7e7e7;
  border: 0;
}
.markdown-body blockquote {
  padding: 0 1em;
  color: #777;
  border-left: 0.25em solid #ddd;
}
.markdown-body blockquote > :first-child {
  margin-top: 0;
}
.markdown-body blockquote > :last-child {
  margin-bottom: 0;
}
.markdown-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.markdown-body h1 .octicon-link,
.markdown-body h2 .octicon-link,
.markdown-body h3 .octicon-link,
.markdown-body h4 .octicon-link,
.markdown-body h5 .octicon-link,
.markdown-body h6 .octicon-link {
  color: #000;
  vertical-align: middle;
  visibility: hidden;
}
.markdown-body h1:hover .anchor,
.markdown-body h2:hover .anchor,
.markdown-body h3:hover .anchor,
.markdown-body h4:hover .anchor,
.markdown-body h5:hover .anchor,
.markdown-body h6:hover .anchor {
  text-decoration: none;
}
.markdown-body h1:hover .anchor .octicon-link,
.markdown-body h2:hover .anchor .octicon-link,
.markdown-body h3:hover .anchor .octicon-link,
.markdown-body h4:hover .anchor .octicon-link,
.markdown-body h5:hover .anchor .octicon-link,
.markdown-body h6:hover .anchor .octicon-link {
  visibility: visible;
}
.markdown-body h1 {
  padding-bottom: 0;
  font-size: 32px;
}
.markdown-body h2 {
  padding-bottom: 0;
  font-size: 26px;
  line-height: 1;
}
.markdown-body h3 {
  font-size: 20px;
}
.markdown-body h4 {
  font-size: 1em;
}
.markdown-body h5 {
  font-size: 0.875em;
}
.markdown-body h6 {
  font-size: 0.85em;
  color: #777;
}
.markdown-body ul,
.markdown-body ol {
  padding-left: 2em;
}
.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ol,
.markdown-body ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
.markdown-body li > p {
  margin-top: 16px;
}
.markdown-body li + li {
  margin-top: 0.25em;
}
.markdown-body dl {
  padding: 0;
}
.markdown-body dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}
.markdown-body dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}
.markdown-body table {
  display: block;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}
.markdown-body table th {
  font-weight: bold;
}
.markdown-body table th,
.markdown-body table td {
  padding: 6px 13px;
  border: 1px solid #ccc;
}
.markdown-body table tr {
  background-color: #fff;
  border: 1px solid #ccc;
}
.markdown-body table tr:nth-child(2n) {
  background-color: #f7f9fc;
}
.markdown-body img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}
.markdown-body .gutter {
    display: none;
}
.markdown-body code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  color: #687168;
  background-color: #def5df;
  border-radius: 3px;
}
.markdown-body code::before,
.markdown-body code::after {
  letter-spacing: -0.2em;
  content: "\00a0";
}
.markdown-body pre {
  word-wrap: normal;
}
.markdown-body pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}
.markdown-body .highlight pre,
.markdown-body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f9fc;
  border-radius: 3px;
}
.markdown-body pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}
.markdown-body pre code::before,
.markdown-body pre code::after {
  content: normal;
}
.markdown-body .pl-0 {
  padding-left: 0 !important;
}
.markdown-body .pl-1 {
  padding-left: 3px !important;
}
.markdown-body .pl-2 {
  padding-left: 6px !important;
}
.markdown-body .pl-3 {
  padding-left: 12px !important;
}
.markdown-body .pl-4 {
  padding-left: 24px !important;
}
.markdown-body .pl-5 {
  padding-left: 36px !important;
}
.markdown-body .pl-6 {
  padding-left: 48px !important;
}
.markdown-body .full-commit .btn-outline:not(:disabled):hover {
  color: #4078c0;
  border: 1px solid #4078c0;
}
.markdown-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}
.markdown-body :checked + .radio-label {
  position: relative;
  z-index: 1;
  border-color: #4078c0;
}
.markdown-body .task-list-item {
  list-style-type: none;
}
.markdown-body .task-list-item + .task-list-item {
  margin-top: 3px;
}
.markdown-body .task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}
.markdown-body hr {
  border-bottom-color: #eee;
}
.markdown-body a.markdown-anchor {
  position: absolute;
  left: -20px;
  display: block;
  width: 20px;
  color: #666;
  visibility: hidden;
}
.markdown-body a.markdown-anchor:hover {
  text-decoration: none;
  color: #000000;
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  position: relative;
}
.markdown-body h1:hover .markdown-anchor,
.markdown-body h2:hover .markdown-anchor,
.markdown-body h3:hover .markdown-anchor,
.markdown-body h4:hover .markdown-anchor,
.markdown-body h5:hover .markdown-anchor,
.markdown-body h6:hover .markdown-anchor {
  visibility: visible;
}
/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/
.highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #202d40;
  background: #f8f8f8;
  margin: 0;
  padding: 0;
  background: transparent;
}
.highlight pre {
  margin-bottom: 0;
  word-break: normal;
}
.highlight table,
.highlight tbody,
.highlight tr,
.highlight td {
  display: block;
}
.highlight table tr {
  border: 0;
}
.highlight .code {
  padding: 0;
  border: none;
}
.highlight .comment,
.highlight .quote {
  color: #c1c1c1;
  font-style: italic;
}
.highlight .keyword,
.highlight .selector-tag,
.highlight .subst {
  color: #333;
  font-weight: bold;
}
.highlight .number,
.highlight .literal,
.highlight .variable,
.highlight .template-variable,
.highlight .tag .attr {
  color: #b34314;
}
.highlight .string,
.highlight .doctag {
  color: #3385ff;
}
.highlight .title,
.highlight .section,
.highlight .selector-id {
  color: #d43737;
  font-weight: bold;
}
.highlight .subst {
  font-weight: normal;
}
.highlight .type,
.highlight .class .title {
  color: #5575d4;
  font-weight: bold;
}
.highlight .tag,
.highlight .name,
.highlight .attribute {
  color: #929292;
  font-weight: normal;
}
.highlight .regexp,
.highlight .link {
  color: #009926;
}
.highlight .symbol,
.highlight .bullet {
  color: #990073;
}
.highlight .built_in,
.highlight .builtin-name {
  color: #21b3e4;
}
.highlight .meta {
  color: #999;
  font-weight: bold;
}
.highlight .deletion {
  background: #fdd;
}
.highlight .addition {
  background: #dfd;
}
.highlight .emphasis {
  font-style: italic;
}
.highlight .strong {
  font-weight: bold;
}

.article-anchor {
  margin-left: 10px;
  display: none;
  &:before {
    content: "#";
  }
  .article-heading:hover & {
    display: inline-block;
  }
}

.none {
  width: 750px;
  height: 1px;
  position: relative;
  top: 30px;
  opacity: 0;
  z-index: 1;
  display: none;
  @media only screen and(max-width: 1100px) {
    width: auto!important;
    &.hljs {
      display: none!important;
    }
  }
}
.hljs table {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  width: auto;
  border: none;
}
.hljs td {
  border: none;
  padding: 0;
}
.hljs table th {
  font-weight: bold;
}
.hljs table th,
.hljs table td {
  padding: 0;
  border: none;
}
.hljs table tr {
  background-color: transparent;
  border: none;
}
.hljs table tr:nth-child(2n) {
  background-color: transparent;
}

.hljs td.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  color: #ccc;
  border-right: 1px solid #CCC;
  vertical-align: top;
  padding-right: 5px;
  width: 20px;
}
  
.hljs td.hljs-ln-code {
  padding-left: 10px;
}
  
.hljs .content table tr:not(:last-child) td {
  border-bottom: 0px solid #eee;
}
  
.hljs {
  display: block!important;
  overflow-x: auto!important;
  padding: 16px!important;
}
.markdown-body pre {
  position: relative;
  overflow: hidden;
  padding: 0;
  &:hover {
    .btn-copy {
      display: block;
    }
  }
}

.btn-copy {
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  border: 1px solid #202d40;
  background-color: #202d40;
  color: #fff;
  font-size: 12px;
  padding: 0 10px;
  height: 24px;
  line-height: 20px;
  display: none;
  position: absolute;
  top: 0;
  right: 2px;
  cursor: pointer;
}

.tableModal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background:rgba(0, 0, 0, 0.6);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
  overflow: auto;
  padding: 50px;
}
.tableModalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
}
.tableModalZIndex {
  z-index: 99;
}
.tableModalShow {
  opacity: 1;
}
.modalClose {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 999;
  cursor: pointer;
}
.readNum {
  color: #999;
  margin-top: 30px;
}
.medium-zoom-overlay {
  z-index: 998;
}
.medium-zoom-image--opened {
  z-index: 999;
}
.updateTime {
  height: 36px;
  display: flex;
  align-items: center;
  color: #76808e;
  font-size: 14px;
}
.updateAvatar {
  width: 30px;
  margin-right: 10px;
}
