doctype html
html(lang="zh-cmn-Hans")
  
  include head.pug

  body
    .help_container
      block header
        include help-header
      block main
        //- .helpContainer
        block left
          //- include navigation
        block content
      block footer
        != footer()
    script(src="/docs/js/jquery.min.js")
    script(src="/docs/js/algoliasearch.min.js")
    script(src="/docs/js/autocomplete.min.js")
    script(src="/docs/js/highlight.pack.js")
    script(src="/docs/js/highlightjs-line-numbers.min.js")
    script(src="/docs/js/clipboard.min.js")
    script(src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js")
    script(src="/docs/js/medium-zoom.min.js")
    script(src="/docs/js/dayjs.min.js")
    script
        include base.js
    != footerJS()
