footer.footer-container
    .footer
        .left
            a(href='/')
                img.logo(src='https://dn-coding-net-production-pp.codehub.cn/b1a5d1de-f19a-4430-95ac-65886022e259.png')
            ul.list
                li
                    a(href='tel:4009309163') 400-930-9163
                li
                    a(href='mailto:support@coding.net') support@coding.net
                li
                    .share
                        .share-item.qrcode.weixin
                            img#wechat.share-img(src='https://coding-net-production-pp-ci.codehub.cn/736bb4c6-5845-4273-bb3e-6affbb590c4d.png')
                            .dropdown.up
                                img(src='https://dn-coding-net-production-static.codehub.cn/static/fcdf6ecd90f6022d143a5e06fbe391b8.jpg', alt='Coding 微信公众号二维码')
                        a.share-item(href='http://weibo.com/n/coding', target='_blank')
                            img.share-img(src='https://coding-net-production-pp-ci.codehub.cn/720e09a2-32d4-43d0-b50e-b74f162f30eb.png')
                        a.share-item(href='https://zhuanlan.zhihu.com/coding-net', target='_blank')
                            img.share-img(src='https://coding-net-production-pp-ci.codehub.cn/e7b4f31e-5fe7-4925-a0e1-094ac6c571cf.png')
        .us
            .us-row
                .us-col.item1
                    h3 产品
                    ul.list
                        li
                            a(href='https://coding.net') 功能
                        li
                            a(href='https://coding.net/pricing') 定价
                        li
                            a(href='https://open.coding.net', target='_blank') 开放 API
                        li
                            a(href='https://e.coding.net/private') 私有化部署
                        li
                            a(href='https://coding.net/products/roadmap', target='_blank') 产品更新日志
                .us-col.item3
                    h3 解决方案
                    ul.list
                        li
                            a(href='https://blog.coding.net/blog/kuaike', target='_blank') 教育
                        li
                            a(href='https://blog.coding.net/blog/lakala', target='_blank') 金融
                        li
                            a(href='https://blog.coding.net/blog/qixiang', target='_blank') 政企
                        li
                            a(href='https://blog.coding.net/blog/codingcoding', target='_blank') 互联网
                        li
                            a(href='https://blog.coding.net/blog/jiamian', target='_blank') 游戏
                .us-col.item4
                    h3 支持
                    ul.list
                        li
                            a(href='https://help.coding.net') 帮助中心
                        li
                            a(href='https://blog.coding.net', target='_blank') 官方博客
                        li
                            a(href='https://e.coding.net/help/knowledge-base/coding-is-secure/', target='_blank') 数据安全
                .us-col.item5
                    h3 公司
                    ul.list
                        li
                            a(href='https://coding.net/company/about') 关于我们
                        li
                            a(href='https://www.lagou.com/gongsi/21406.html', target='_blank') 工作机会
                .us-col.item6
                    h3 联系我们
                    ul.list
                        li
                            a(href='tel:4009309163') 400-930-9163
                        li
                            a(href='mailto:support@coding.net') support@coding.net
                        li
                            .share
                                .share-item.qrcode.weixin
                                    img#wechat.share-img(src='https://coding-net-production-pp-ci.codehub.cn/736bb4c6-5845-4273-bb3e-6affbb590c4d.png')
                                    .dropdown.up
                                        img(src='https://dn-coding-net-production-static.codehub.cn/static/fcdf6ecd90f6022d143a5e06fbe391b8.jpg', alt='Coding 微信公众号二维码')
                                a.share-item(href='http://weibo.com/n/coding', target='_blank')
                                    img.share-img(src='https://coding-net-production-pp-ci.codehub.cn/720e09a2-32d4-43d0-b50e-b74f162f30eb.png')
                                a.share-item(href='https://zhuanlan.zhihu.com/coding-net', target='_blank')
                                    img.share-img(src='https://coding-net-production-pp-ci.codehub.cn/e7b4f31e-5fe7-4925-a0e1-094ac6c571cf.png')
        .mobile-hr.first
        .mobile-hr.second
        .mobile-hr.three
    .copyright
        .copyright-content
            .info
                p
                    a(href='https://coding.net/company/terms', target='_blank') 服务条款
                    |  |
                    a(href='https://coding.net/company/sla', target='_blank') 服务 SLA
                p
                    a(href='/') © 2019 扣钉网络 版权所有
                    |  |
                    a(href='http://www.miitbeian.gov.cn/', target='_blank') 粤ICP备14029750号-1
                p
                    a(href='http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030502002265', target='_blank')
                        img(src='https://dn-coding-net-production-pp.codehub.cn/fd4bc9d0-0b00-4c96-9495-adcd8988d784.png', style='vertical-align: bottom;margin-right: 5px;')
                        | 粤公网安备 44030502002265号
