footer.footer-container
    .footer
        .left
            a(href='/')
                img.logo(src='https://dn-coding-net-production-pp.codehub.cn/b1a5d1de-f19a-4430-95ac-65886022e259.png')
            ul.list
                li
                    a(href='tel:4008306861') 400-830-6861
                li
                    a(href='mailto:support@coding.net') support@coding.net
                li
                    .share
                        .share-item.qrcode.weixin
                            img#wechat.share-img(src='https://coding-net-production-pp-ci.codehub.cn/736bb4c6-5845-4273-bb3e-6affbb590c4d.png')
                            .dropdown.up
                                img(src='https://dn-coding-net-production-static.codehub.cn/static/fcdf6ecd90f6022d143a5e06fbe391b8.jpg', alt='Coding 微信公众号二维码')
                        a.share-item(href='http://weibo.com/n/coding', target='_blank')
                            img.share-img(src='https://coding-net-production-pp-ci.codehub.cn/720e09a2-32d4-43d0-b50e-b74f162f30eb.png')
                        a.share-item(href='https://zhuanlan.zhihu.com/coding-net', target='_blank')
                            img.share-img(src='https://coding-net-production-pp-ci.codehub.cn/e7b4f31e-5fe7-4925-a0e1-094ac6c571cf.png')
        .us
            .us-row
                .us-col.item1
                    h3 产品
                    ul.list
                        li
                            a(href='https://coding.net/products/agile', target="_self") 项目协同
                        li
                            a(href='https://coding.net/products/testing', target="_self") 测试管理
                        li
                            a(href='https://coding.net/products/repo', target="_self") 代码托管
                        li
                            a(href='https://coding.net/products/ci', target="_self") 持续集成
                        li
                            a(href='https://coding.net/products/artifacts', target="_self") 制品库
                        li
                            a(href='https://coding.net/products/cd', target="_self") 持续部署
                        li
                            a(href='https://wepack.coding.net/', target="_self") WePack
                .us-col.item3
                    h3 解决方案
                    ul.list
                        li
                            a(href='https://coding.net/solutions/devops', target="_self") DevOps
                        li
                            a(href='https://coding.net/solutions/okr', target="_self") OKR
                        li
                            a(href='https://coding.net/solutions/code-quality', target='_self') 代码质量
                        li
                            a(href='https://coding.net/solutions/internet', target='_self') 互联网
                        li
                            a(href='https://coding.net/solutions/financial', target='_self') 金融
                .us-col.item4
                    h3 支持
                    ul.list
                        li
                            a(href='https://coding.net/training.html', target="_self") 培训与认证
                        li
                            a(href='https://help.coding.net', target="_blank") 帮助中心
                        li
                            a(href='https://help.coding.net/docs/best-practices/overview.html', target='_blank') 最佳实践
                        li
                            a(href='https://coding.net/company/terms', target="_self") 服务条款
                        li
                            a(href='https://coding.net/company/sla', target="_self") 服务 SLA
                        li
                            a(href='https://coding.net/changelog', target="_self") 产品更新日志
                .us-col.item7
                    h3 公司
                    ul.list
                        li
                            a(href='https://coding.net/company/about', target="_self") 关于我们
                        li
                            a(href='https://coding.net/company/news', target="_self") 媒体报道
                        li
                            a(href='https://coding.net/join/', target="_self") 加入我们
                .us-col.item6
                    h3 联系我们
                    ul.list
                        li
                            a(href='tel:4008306861') 400-830-6861
                        li
                            a(href='mailto:support@coding.net') support@coding.net
                        li
                            .share
                                .share-item.qrcode.weixin
                                    img#wechat.share-img(src='https://coding-net-production-pp-ci.codehub.cn/736bb4c6-5845-4273-bb3e-6affbb590c4d.png')
                                    .dropdown.up
                                        img(src='https://dn-coding-net-production-static.codehub.cn/static/fcdf6ecd90f6022d143a5e06fbe391b8.jpg', alt='Coding 微信公众号二维码')
                                a.share-item(href='http://weibo.com/n/coding', target='_blank')
                                    img.share-img(src='https://coding-net-production-pp-ci.codehub.cn/720e09a2-32d4-43d0-b50e-b74f162f30eb.png')
                                a.share-item(href='https://zhuanlan.zhihu.com/coding-net', target='_blank')
                                    img.share-img(src='https://coding-net-production-pp-ci.codehub.cn/e7b4f31e-5fe7-4925-a0e1-094ac6c571cf.png')
        .mobile-hr.first
        .mobile-hr.second
        .mobile-hr.three
    .copyright
        .copyright-content
            .info
                p
                    img(src='/docs/images/footer-tencentcloud.svg') 
                    | A Proud Product & Subsidiary of Tencent Cloud
                p.cr-pc
                    a(href='https://coding.net') © 2021 深圳市腾云扣钉科技有限公司
                    |  | 
                    a(href='http://beian.miit.gov.cn', target='_blank') 粤ICP备 14029750号
                    img.police(src="https://help-assets.codehub.cn/cdn/images/police.png")
                    a(href='http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030502002265', target='_blank') 粤公网安备 44030502002265号
                .cr-mb
                    p
                        a(href='https://coding.net') © 2021 深圳市腾云扣钉科技有限公司
                    p
                        a(href='http://beian.miit.gov.cn', target='_blank') 粤ICP备 14029750号
                        |  | 
                        a(href='http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030502002265', target='_blank') 粤公网安备 44030502002265号
