.header-container.no-touch
    .header-content.clearfix
        .header-body
            .search-content
                .search-area
                    .header-search-icon
                    .headerSearchInput
                        input#headerSearchInput(placeholder="从文档中搜寻答案")
            .logo
                a(href='/')
                    span.img
                        img(src="https://dn-coding-net-production-pp.codehub.cn/3561610c-0908-49fa-8da2-846777015db1.png")
                    span.divider
                    span.words 帮助中心
            .header-right
                .search-select-icon
                    .search-icon#search-switch
                    .search-divider
                .nav
                    .nav-item
                        span
                            a(href='https://coding.net') 前往官网
                    .nav-item.nav-drop-down-wrap
                        span 注册/登录
                        .nav-drop-down-container
                            .nav-drop-down
                                .item-container
                                    p.p1
                                        a(href='https://e.coding.net/register') 创建团队
                                    p.p2
                                        a(href='https://e.coding.net/login') 登录
                .icon
                    span.nav-trigger
                .mobile-login-zone
                    .dropdown-list
                        ul
                            li.dropdown
                                .btn.register
                                    a(href='https://e.coding.net/register?from=net') 创建团队
                            li.dropdown
                                .btn.login
                                    a(href='https://e.coding.net/login?from=net') 登录
