<div class="help-sidebar">
    <div class="sidebar-title">
        <h3>帮助中心</h3>
    </div>
    <div class="sidebar-menu">
        <ul class="metismenu" id="metismenu">
            <li class="active">
                <a href="#" aria-expanded="true">
                    <i class="fa fa-angle-right"></i>
                    <span>常见问题</span>
                </a>
                <ul class="sub-menu" aria-expanded="true">
                    <li>
                        <div class="menu-content">
                            <a href="#">
                                <i class="fa fa-file-text-o "></i>
                                <span>Git 代码托管？</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="menu-content">
                            <a href="#">
                                <i class="fa fa-file-text-o "></i>
                                <span>什么是质量管理？</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="menu-content">
                            <a href="#">
                                <i class="fa fa-file-text-o "></i>
                                <span>什么是代码分析？</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="#">
                    <i class="fa fa-angle-right"></i>
                    <span>文档</span>
                </a>
                <ul class="sub-menu" aria-expanded="true">
                    <li ng-repeat="menu in menu.children" ng-include="'menu-content.html'">
                        <a href="#">
                            <i class="fa fa-file-text-o "></i>
                            <span>Git 代码托管</span>
                        </a>
                        <ul class="sub-toc" aria-expanded="false">
                            <li>
                                <a href="#">
                                    <span>1.1 Git 是什么</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>1.2 欢迎使用 WebIDE 手册</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>1.3 为什么使用 WebIDE ,而不是使用其他在线开发工具？</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<script>
    $("#metismenu").metisMenu();

</script>