<div class="help-sidebar">
    <div class="sidebar-title">
        <h3><a href="/help/">帮助中心</a></h3>
    </div>
    <div class="sidebar-menu">
        <ul class="metismenu" id="metismenu">
            <li class="active">
                <a href="#" aria-expanded="true">
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                    <span>常见问题</span>
                </a>
                <ul class="sub-menu" aria-expanded="true">
                    <li>
                        <a href="#">
                            <i class="fa fa-file-text-o "></i>
                            <span>Git 代码托管</span>
                        </a>
                        <ul class="sub-toc" aria-expanded="false">
                            <li>
                                <a href="/help/faq/git/git.html">
                                    <span>Git 操作问题</span>
                                </a>
                            </li>
                            <li>
                                <a href="/help/faq/git/repository.html">
                                    <span>代码仓库问题</span>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-file-text-o "></i>
                            <span>演示平台</span>
                        </a>
                        <ul class="sub-toc" aria-expanded="false">
                            <li>
                                <a href="/help/faq/paas/language.html">
                                    <span>语言和框架支持</span>
                                </a>
                            </li>
                            <li>
                                <a href="/help/faq/paas/deploy.html">
                                    <span>演示部署问题</span>
                                </a>
                            </li>
                            <li>
                                <a href="/help/faq/paas/service.html">
                                    <span>使用三方服务</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-file-text-o "></i>
                            <span>项目管理</span>
                        </a>
                        <ul class="sub-toc" aria-expanded="false">
                            <li>
                                <a href="/help/faq/project/setting.html">
                                    <span>项目设置问题</span>
                                </a>
                            </li>
                            <li>
                                <a href="/help/faq/project/task.html">
                                    <span>项目任务问题</span>
                                </a>
                            </li>
                            <li>
                                <a href="/help/faq/project/files.html">
                                    <span>项目文件问题</span>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="/help/faq/webide/ide.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>WebIDE</span>
                        </a>
                    </li>
                    <li>
                        <a href="/help/faq/mobile/all.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>移动端</span>
                        </a>
                    </li>
                    <li>
                        <a href="/help/faq/account/user.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>用户账户</span>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="active">
                <a href="#">
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                    <span>文档</span>
                </a>
                <ul class="sub-menu" aria-expanded="true">
                    <li>
                        <a href="#">
                            <i class="fa fa-file-text-o "></i>
                            <span>Git 代码托管</span>
                        </a>
                        <ul class="sub-toc" aria-expanded="false">
                            <li>
                                <a href="/help/doc/git/introduction.html">
                                    <span>代码托管介绍</span>
                                </a>
                            </li>
                            <li>
                                <a href="/help/doc/git/getting-started.html">
                                    <span>开始使用 Git</span>
                                </a>
                            </li>
                            <li>
                                <a href="/help/doc/git/repository.html">
                                    <span>Git 仓库管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="/help/doc/git/push.html">
                                    <span>提交代码</span>
                                </a>
                            </li>
                            <li>
                                <a href="/help/doc/git/git-branch.html">
                                    <span>分支管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="/help/doc/git/code-insight.html">
                                    <span>代码阅读</span>
                                </a>
                            </li>
                            <li>
                                <a href="/help/doc/git/ssh-key.html">
                                    <span>SSH公钥配置</span>
                                </a>
                            </li>

                            <li>
                                <a href="/help/doc/git/webhook.html">
                                    <span>Webhook</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-file-text-o "></i>
                            <span>WebIDE</span>
                        </a>
                        <ul class="sub-toc" aria-expanded="false">
                            <li>
                                <a href="/help/doc/webide/introduction.html">
                                    <span>WebIDE介绍</span>
                                </a>
                            </li>
                            <li>
                                <a href="/help/doc/webide/getting-started.html">
                                    <span>开启WebIDE</span>
                                </a>
                            </li>
                            <li>
                                <a href="/help/doc/webide/environment.html">
                                    <span>环境管理&分享</span>
                                </a>
                            </li>
                            <li>
                                <a href="/help/doc/webide/terminal.html">
                                    <span>终端Terminal</span>
                                </a>
                            </li>
                            <li>
                                <a href="/help/doc/webide/execution.html">
                                    <span>运行程序</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-file-text-o "></i>
                            <span>演示平台</span>
                        </a>
                        <ul class="sub-toc" aria-expanded="false">
                            <li>
                                <a href="/help/doc/paas/introduction.html">
                                    <span>演示介绍</span>
                                </a>
                            </li>
                            <li>
                                <a href="/help/doc/paas/getting-started.html">
                                    <span>开始使用演示</span>
                                </a>
                            </li>
                            <li>
                                <a href="/help/doc/paas/services.html">
                                    <span>进阶服务管理</span>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-file-text-o "></i>
                            <span>项目管理</span>
                        </a>
                        <ul class="sub-toc" aria-expanded="false">
                            <li>
                                <a href="/help/doc/project/introduction.html">
                                    <span>项目管理介绍</span>
                                </a>
                            </li>
                            <li>
                                <a href="/help/doc/project/getting-started.html">
                                    <span>开始使用项目管理</span>
                                </a>
                            </li>

                            <li>
                                <a href="/help/doc/project/files.html">
                                    <span>项目文件管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="/help/doc/project/task.html">
                                    <span>任务管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="/help/doc/project/discuss.html">
                                    <span>项目讨论</span>
                                </a>
                            </li>
                            <li>
                                <a href="/help/doc/project/markdown.html">
                                    <span>MarkDown 语法</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-file-text-o "></i>
                            <span>用户账户</span>
                        </a>
                        <ul class="sub-toc" aria-expanded="false">
                            <li>
                                <a href="/help/doc/account/introduction.html">
                                    <span>用户账户介绍</span>
                                </a>
                            </li>

                            <li>
                                <a href="/help/doc/account/register.html">
                                    <span>账户注册&激活</span>
                                </a>
                            </li>
                            <li>
                                <a href="/help/doc/account/setting.html">
                                    <span>账户设置</span>
                                </a>
                            </li>
                            <li>
                                <a href="/help/doc/account/ssh-key.html">
                                    <span>SSH公钥配置</span>
                                </a>
                            </li>
                            <li>
                                <a href="/help/doc/account/2fa.html">
                                    <span>两步认证</span>
                                </a>
                            </li>
                            <li>
                                <a href="/help/doc/account/oauth.html">
                                    <span>应用管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="/help/doc/account/shop.html">
                                    <span>码币&商城</span>
                                </a>
                            </li>
                            <li>
                                <a href="/help/doc/account/service-level.html">
                                    <span>服务级别</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-file-text-o "></i>
                            <span>移动App</span>
                        </a>
                        <ul class="sub-toc" aria-expanded="false">
                            <li>
                                <a href="/help/doc/mobile/introduction.html">
                                    <span>移动端介绍</span>
                                </a>
                            </li>
                            <li>
                                <a href="/help/doc/mobile/project.html">
                                    <span>项目管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="/help/doc/mobile/files.html">
                                    <span>文件管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="/help/doc/mobile/task.html">
                                    <span>任务管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="/help/doc/mobile/discuss.html">
                                    <span>项目讨论</span>
                                </a>
                            </li>
                            <li>
                                <a href="/help/doc/mobile/code.html">
                                    <span>项目代码</span>
                                </a>
                            </li>

                            <li>
                                <a href="/help/doc/mobile/bubble.html">
                                    <span>手机冒泡</span>
                                </a>
                            </li>
                            <li>
                                <a href="/help/doc/mobile/account.html">
                                    <span>个人中心</span>
                                </a>
                            </li>
                            <li>
                                <a href="/help/doc/mobile/2fa.html">
                                    <span>两步认证</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<script>
    $("#metismenu").metisMenu();
    $(document).ready(function () {
        var path = location.pathname;
//        var hash = location.hash;
        var anchor = $("a[href^='" + path + "']");
        anchor.addClass("active");
        var expand = function (el) {
            if (el && el.length > 0) {
                var ul = el.parent().closest("ul");
                if (ul && ul.length > 0) {
                    ul.attr("aria-expanded", "true").removeClass("collapse");
                    ul.prev("a").attr("aria-expanded", "true").addClass("active");
                }
                expand(ul);
            }
        };

        expand(anchor);
        $("#metismenu").metisMenu();
        $(".sidebar-menu").scrollToFixed({
            marginTop: 65,
            limit: function () {
                var stop = $("#footer").offset().top;
                var h = $(this).outerHeight(true);
                return stop - h - 65;
            }
        });

    });
</script>
