<div class="help-sidebar">
    <div class="sidebar-title">
        <h3>帮助中心</h3>
    </div>
    <div class="sidebar-menu">
        <ul class="metismenu" id="metismenu">
            <li class="active">
                <a href="#" aria-expanded="true">
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                    <span>常见问题</span>
                </a>
                <ul class="sub-menu" aria-expanded="true">
                    <li>
                        <div class="menu-content">
                            <a href="#">
                                <i class="fa fa-file-text-o "></i>
                                <span>Git 代码托管？</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="menu-content">
                            <a href="#">
                                <i class="fa fa-file-text-o "></i>
                                <span>什么是质量管理？</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="menu-content">
                            <a href="#">
                                <i class="fa fa-file-text-o "></i>
                                <span>什么是代码分析？</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="#">
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                    <span>文档</span>
                </a>
                <ul class="sub-menu" aria-expanded="true">
                    <li>
                        <a href="#">
                            <i class="fa fa-file-text-o "></i>
                            <span>Git 代码托管</span>
                        </a>
                        <ul class="sub-toc" aria-expanded="false">
                            <li>
                                <a href="/doc/v1/webide.html#aaa">
                                    <span>1.1 Git 是什么</span>
                                </a>
                            </li>
                            <li>
                                <a href="/doc/v1/webide.html#callback-url">
                                    <span>1.2 欢迎使用 WebIDE 手册</span>
                                </a>
                            </li>
                            <li>
                                <a href="/doc/v1/webide.html#faq">
                                    <span>1.3 为什么使用 WebIDE ,而不是使用其他在线开发工具？</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-file-text-o "></i>
                            <span>Git 代码托管</span>
                        </a>
                        <ul class="sub-toc" aria-expanded="false">
                            <li>
                                <a href="/doc/v1/webi22de.html#aaa">
                                    <span>1.1 Git 是什么</span>
                                </a>
                            </li>
                            <li>
                                <a href="/doc/v1/33.html#callback-url">
                                    <span>1.2 欢迎使用 WebIDE 手册</span>
                                </a>
                            </li>
                            <li>
                                <a href="/doc/v1/22.html#faq">
                                    <span>1.3 为什么使用 WebIDE ,而不是使用其他在线开发工具？</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<script>
    $("#metismenu").metisMenu();
    $(document).ready(function () {
        var path = location.pathname;
        var hash = location.hash;
        var anchor = $("a[href^='" + path + hash + "']");
        var expand = function (el) {
            if (el && el.length > 0) {
                var ul = el.parent().closest("ul");
                if (ul && ul.length > 0) {
                    ul.attr("aria-expanded", "true").removeClass("collapse");
                    ul.prev("a").attr("aria-expanded", "true").addClass("active");
                }
                expand(ul);
            }
        };

        expand(anchor);
        $("#metismenu").metisMenu();


    });
</script>