---
layout: default
---

<div class="help-container">
    <div class="container-wrapper clearfix">
        {% include sidebar.html %}
        <div class="help-content">
            <div class="content-header">
                <div>
                    <div class="header-search">
                        <input type="text"/>

                        <div class="s-button">
                            搜索
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body clearfix">
                <div class="content-wrapper">
                    <section class="document-content">
                        <div class="document-header">
                            <h3>
                                <i class="fa fa-caret-down "></i>
                                {{ .page.title }}
                            </h3>
                        </div>
                        <div class="document-body">
                            <article class="markdown">
                                {{ .content }}
                            </article>
                        </div>
                    </section>
                    <div class="unfixed clearfix">
                        <div class="pull-right">
                            <span>问题仍未解决？</span>
                            <a href="https://coding.net/u/coding/p/Coding-Feedback/topic" class="ask-help">在线求助</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="back-to-top" style="display: block;">
        <a href="#branding" title="回到顶部"><img src="/static/img/super-monkey.gif" width="32"></a>
    </div>
</div>
<link rel="stylesheet" href="{{ "/static/vendor/highlightjs/styles/github.css" | prepend: site.baseurl }}"/>
<script src="{{"/static/vendor/highlightjs/highlight.pack.js"}}"></script>
<script >
jQuery("#document").ready(function () {
    jQuery(".markdown pre code").each(function (i, e) {
        hljs.highlightBlock(e);
    });
});
</script>
<script>
    jQuery(document).ready(function(){

        // hide #back-top first
        jQuery(".back-to-top").hide();

        // fade in #back-top
        jQuery(function () {
            jQuery(window).scroll(function () {
                if (jQuery(this).scrollTop() > 1000) {
                    jQuery('.back-to-top').fadeIn();
                } else {
                    jQuery('.back-to-top').fadeOut();
                }
            });

            // scroll body to 0px on click
            jQuery('.back-to-top a').click(function () {
                jQuery('body,html,header').animate({
                    scrollTop: 0
                }, 800);
                return false;
            });
        });

    });
</script>
